        <div class="w-100"></div>
        <div class="col-lg-8 col-12">
            <div class="alert alert-primary w-100" role="alert">
                When prompted to configure draw.io, click "OK."
            </div>
        </div>
      </div>
      <p class="text-muted text-center">Last updated ${datetime}</p>
      <p class="text-muted text-center">&copy; <a href="https://ioref.org/">IO Ref - Creative Physical Computing</a> ${year}. All rights reserved.<br/>
		Made in Pittsburgh at <a href="http://cmu.edu">Carnegie Mellon University</a>. 
		
		This material is based upon work supported by the
		<a href="http://www.nsf.gov">National Science Foundation</a>
		under grant no.
		<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1736189&amp;HistoricalAwards=false">IIS-1736189.</a></p>
    </div>
  </body>
</html>
