        <div class="w-100"></div>
        <div class="col-lg-8 col-12">
            <div class="alert alert-primary w-100" role="alert">
                When prompted to configure draw.io, click "OK."
            </div>
        </div>
      </div>
      <p class="text-muted text-center">Last updated ${datetime}</p>
      <p class="text-muted text-center">&copy; <a href="https://nsfsmartmakerspaces.github.io/physcomp/">PhysComp Maker Cards</a> ${year}. All rights reserved.</p>
    </div>
  </body>
</html>
