<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhysComp Maker Cards Drawing Tool</title>
    <link rel="stylesheet" href="./assets/bootstrap.min.css">
    <style type="text/css">
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 0.01rem;
        /* font-size:1.8em; */
        /* line-height: 1.75em; */
        color: #3A4145;
        -webkit-font-feature-settings: 'kern' 1;
        -moz-font-feature-settings: 'kern' 1;
        -o-font-feature-settings: 'kern' 1;
        text-rendering: geometricPrecision;
      }
      h1 {
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-4">PhysComp Maker Cards Drawing Tool</h1>
      <div class="row align-items-center justify-content-center">
